<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src = "/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src = "/javascripts/angular.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io.connect();
	  socket.on('news', function (data) {
	   	$("body").append("<div>"+JSON.stringify(data)+"</div>");
	  });
	</script>

	  </body>
</html>
